django-filter
dj_database_url
sentry_sdk
python-json-logger
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
Django>=5.0
python-decouple
requests
openpyxl
numpy
whitenoise
django-cors-headers
django-redis
django-axes
django-health-check
django-rq
psutil
psycopg2-binary
redis
pika
django-storages
boto3
gunicorn
Pillow
